
<link href="css/header.css" rel="stylesheet">

<!-- header container -->
<div class="container top-container" ng-controller="navbarCtrl">
	<!-- IMG -->
	<div class="row">
		<!-- Logo -->
		<div class="col-xs-4 s col-sm-3 col-md-2 col-lg-2 
						col-md-offset-1 col-lg-offset-1
						 col-banniere">
			<img alt="Logo bsmt" src="img/header/logo.jpg"
				class="img-circle img-responsive img-banniere center-block" />
		</div>
		<!-- List img team -->
		<div class="col-xs-4 s col-sm-3 col-md-2 col-lg-2 
						col-md-offset-1 col-lg-offset-1
						 col-banniere">
			<img alt="Photo team 1" src="img/header/1.jpg"
				class="img-responsive img-rounded img-banniere center-block">
		</div>
		<div class="col-xs-4 s col-sm-3 col-md-2 col-lg-2 col-banniere ">
			<img alt="Photo team 2" src="img/header/2.jpg"
				class="img-responsive img-rounded img-banniere center-block">
		</div>
		<div class="hidden-xs col-sm-3 col-md-2 col-lg-2 col-banniere ">
			<img alt="Photo team 3" src="img/header/3.jpg"
				class="img-responsive img-rounded img-banniere center-block">
		</div>
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2 col-banniere">
			<img alt="Photo team 4" src="img/header/4.jpg"
				class="img-responsive img-rounded img-banniere center-block">
		</div>
	</div>
	<!-- END ROW -->

	<!-- Nav bar -->
	<div class="row navbar-row">
		<nav id="mainNavBar" class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<button type="button" 
					ng-click="isCollapsed = !isCollapsed" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ng-click="selectLi('home')" href="home">Accueil</a>
			</div>

			<div id="navbarCollapse"
				class="navbar-collapse bs-js-navbar-collapse" uib-collapse="isCollapsed">
				<ul class="nav navbar-nav">
					<!-- <li ng-class="selectedLi == 'home' ? 'active' : ''"><a
						ng-click="selectedLi = 'home'" href="home">Accueil</a></li> -->
					<li ng-class="isCurrentView('news') ? 'active' : ''"><a
						ng-click="selectLi('news')" href="news">Les news</a></li>
					<li ng-class="isCurrentView('member') ? 'active' : ''"><a
						ng-click="selectLi('member')" href="member">Les membres</a></li>
					<li ng-class="isCurrentView('gallery') ? 'active' : ''"><a
						ng-click="selectLi('gallery')" href="gallery">La galerie</a></li>
					<li><a href="http://bsmt.forumactif.org/">Le forum</a></li>

				</ul>
				<ul class="nav navbar-nav pull-right">
					<li ng-class="isCurrentView('recrutement') ? 'active' : ''"
						class="recrutement-li"><a
						ng-click="selectLi('recrutement')" href="recrutement">RECRUTEMENT</a></li>
				</ul>
			</div>
		</nav>
	</div>

</div>
