.galleryContainer {
	background-color: rgb(13, 13, 13);
	
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.showGalleryContainer {
	position: relative;
	padding-top: 0px;
}

.retourButton {
	font-size: 30px;
}

/*GALLERIE MODAL*/
.galleryModal {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1040;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.galleryModal-dialog {
	margin-top: 150px;
}

.galleryModal-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Animation*/
.galleryModal.ng-hide-remove {
	-webkit-transition: 0.4s linear all;
	-moz-transition: 0.4s linear all;
	-o-transition: 0.4s linear all;
	transition: 0.4s linear all;
}

.galleryModal.ng-hide-remove {
	opacity: 0;
	overflow: hidden;
	height: 0px;
}

.galleryModal.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	height: 100%;
}