body {
	background: black;
	color: white;
	padding-top: 2px;
}

#banniere{
	text-align: center;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logo{
	 float: left;
}

.banniere2{
	padding-left : 300px;
	padding-right : 300px;
	
}