body {
	background: black;
	color: #5e5e5e;
	padding-top: 2px;
	padding-bottom: 50px;
	font-family: 'Open Sans', 'Droid Sans', arial, sans-serif;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

footer {
	border-top-style: solid;
	border-top-width: 1px;
	border-color: #5e5e5e;
	font-weight: bold;
	margin: 0 auto;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: black;
	margin: 0 auto;
}


.well {
	background-color: inherit;
}/*		font-size: 17px;
	
	margin-top: 30px;
	margin-bottom: 30px;
}*/
.jumbotron {
	background-color: inherit;
}

.h2News{
	text-transform: uppercase;
	
}

.view-animate-container {
	position: relative;
}

.slide {
	top: 0px;
	position: absolute;
	width: 100%;
}

.slide.ng-enter,.slide.ng-leave {
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.slide.ng-enter {
	left: 100%;
}

.slide.ng-enter-active {
	left: 0;
}

.slide.ng-leave {
	left: 0;
}

.slide.ng-leave-active {
	left: 200%;
}