.news-container{
	background-color: rgb(13,13,13);
}

.newsTitle {
	color: rgb(161, 161, 161);
	font-size: large;
	font-weight : bold;
	
	border-top-style: solid;
	border-top-color: white;
	border-top-width: 1px;
	
	
	padding-top: 10px;
	padding-bottom: 10px;
	}

.newsContent {
	color: #5e5e5e;
	font-size: 16px;
	}

.newsAuthor {
	color: rgb(161, 161, 161);
	text-align: right;
	
	padding-top: 10px;
	padding-bottom: 10px;
		
}
