/*Container*/
.teamMembersContainer {
	background-color: rgb(13, 13, 13);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.teamMemberDetailContainer {
	background-color: rgb(13, 13, 13);
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

/*BEGIN Couleur des pseudos*/
.leaderNickName {
	color: #1109F0;
}

.memberNickName {
	color: #F50C0C;
}

.postulantNickName {
	color: #21EBEB
}
/*END Couleur des pseudos*/
.profilName {
	color: rgb(161, 161, 161);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.listColMember {
	margin-top: 20px;
}

.memberDl {
	vertical-align: middle;
}

.retourButton {
	font-size: 30px;
}

/*ANIMATIONS*/
.listColMember.ng-enter {
	-webkit-transition: 0.8s linear all;
	-moz-transition: 0.8s linear all;
	-o-transition: 0.8s linear all;
	transition: 0.8s linear all;
}

.listColMember.ng-enter {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.listColMember.ng-enter.ng-enter-active {
	opacity: 1;
	height: 120px;
}