<link href="css/gallery.css" rel="stylesheet">


<div class="galleryModal" ng-if="showModal">

<button ng-click="selectPicture(null)">!</button>

	<div class="modal-dialog galleryModal-dialog">
	
	<!--  
		<img ng-src="{{getModalPictureUrl()}}" alt="Gallery{{gallery.id}}"
			class="img-responsive galleryModal-img" />
			-->
			<uib-carousel interval="5000" > 
				
			<uib-slide  ng-repeat="slide in slides" active="slide.active" > 
				<img
					ng-src="{{getPictureUrl(slide)}}" style="margin: auto"
					class="img-responsive myslide"/>
			</uib-slide>
			 </uib-carousel>
	</div>
</div>

<div class="galleryContainer showGalleryContainer">

	<div class="row">
		<h2 class="text-capitalize">
			<a href="gallery" class="btn btn-link"> <span
				class="retourButton glyphicon glyphicon glyphicon-circle-arrow-left"
				aria-hidden="true"></span>
			</a> {{gallery.title}}
		</h2>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div ng-repeat="picture in gallery.pictures"
					class="col-lg-3 col-md-2 col-sm-3 col-xs-6">

					<img ng-click="selectPicture(picture)"
						ng-src="api/gallery/{{gallery.id}}/picture/{{picture.title}}?size=mini"
						alt="Gallery{{gallery.id}}" class="img-responsive" />
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<br />
			<blockquote>
				<p>{{gallery.description}}</p>
				<p ng-if="gallery.source">
					<small>Source : {{gallery.source}}</small>
				</p>
			</blockquote>
		</div>
	</div>

</div>