<link href="css/gallery.css" rel="stylesheet">


<div class="galleryModal" ng-show="pictureToShow != null"
	ng-click="pictureToShow = null">
	<div class="modal-dialog galleryModal-dialog">
		<img ng-src="api/gallery/{{gallery.id}}/picture/{{pictureToShow.title}}"
			alt="Gallery{{gallery.id}}" class="img-responsive galleryModal-img" />
	</div>
</div>

<div class="showGalleryContainer">

	<div class="row">
		<h2 class="text-capitalize">
			<a href="#/gallery" class="btn btn-link"> <span
				class="retourButton glyphicon glyphicon glyphicon-circle-arrow-left"
				aria-hidden="true"></span>
			</a> {{gallery.title}}
		</h2>
	</div>
	<div class="row">
		<div ng-repeat="picture in gallery.pictures"
			class="col-lg-2 col-md-2 col-sm-3 col-xs-4">

			<img ng-click="showPicture(picture)"
				ng-src="api/gallery/{{gallery.id}}/picture/{{picture.title}}"
				alt="Gallery{{gallery.id}}" class="img-responsive" />
		</div>
	</div>

</div>