<link href="css/gallery.css" rel="stylesheet">


<div class="galleryModal center-block" ng-show="pictureToShow != null"
	ng-click="pictureToShow = null">
	<div class="center-block">
		<img ng-src="img/gallery/{{gallery.id}}/{{pictureToShow.name}}.jpg"
			alt="Gallery{{gallery.id}}" class="img-responsive" />
	</div>
</div>

<div class="showGalleryContainer">

	<div class="row">
		<h2 class="text-capitalize">
			<a href="#/gallery" class="btn btn-link"> <span
				class="retourButton glyphicon glyphicon glyphicon-circle-arrow-left"
				aria-hidden="true"></span>
			</a> {{gallery.title}}
		</h2>
	</div>
	<div class="row">
		<div ng-repeat="picture in [{name : 'forest'}, {name : 'macdo'},{name : 'forest'}, {name : 'macdo'},{name : 'forest'}, {name : 'macdo'},{name : 'forest'}, {name : 'macdo'},{name : 'forest'}, {name : 'macdo'}]"
			class="col-lg-2 col-md-2 col-sm-3 col-xs-4">

			<img ng-click="showPicture(picture)"
				ng-src="img/gallery/{{gallery.id}}/{{picture.name}}.jpg"
				alt="Gallery{{gallery.id}}" class="img-responsive" />
		</div>
	</div>

</div>