<div class="galleryModal" ng-show="showModal" ng-click="selectPicture(null)">

	<div class="modal-dialog galleryModal-dialog">

		<uib-carousel active="activeSlideIndex" ng-click="$event.stopPropagation()"> 
			
			<uib-slide ng-repeat="slide in slides" index="slide.index"> 
				<img ng-src="{{getPictureUrl(slide)}}" class="img-responsive galleryModal-img" alt="{{slide.picture.title}}"/> 
			</uib-slide> 
	
		</uib-carousel>
	</div>
</div>

<div class="galleryContainer showGalleryContainer">

	<div class="row">
		<h2 class="text-capitalize">
			<a href="gallery" class="btn btn-link"> <span
				class="retourButton glyphicon glyphicon glyphicon-circle-arrow-left"
				aria-hidden="true"></span>
			</a> {{gallery.title}}
		</h2>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<div class="row">
				<div ng-repeat="picture in gallery.pictures"
					class="col-lg-3 col-md-2 col-sm-3 col-xs-6">

					<img ng-click="selectPicture(picture)"
						ng-src="api/gallery/{{gallery.id}}/picture/{{picture.title}}?size=mini"
						alt="Gallery{{gallery.id}}" class="img-responsive" />
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<br />
			<blockquote>
				<p>{{gallery.description}}</p>
				<p ng-if="gallery.source">
					<small>Source : {{gallery.source}}</small>
				</p>
			</blockquote>
		</div>
	</div>

</div>